@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.background{
    /* background-image: url(/uploads/sp-spotify-logo.jfif);
    background-size: cover;
    background-blend-mode: lighten; */
}
.container-div{
    background-color: #000000;
    color:#ffffff;
    width: 30%;
    margin:  2rem auto;
    padding: 2rem 5rem;
    border-radius: 5px;
}
.spotify-logo{
    width: 100%;
    text-align: center;
    font-size: 3rem;
}
.login-to-continue h1{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
    text-align:center;
}
.username-div{
    padding: 0 0.3rem;
    background-color: #ddd;
    margin-bottom: 0.5rem;
}
.username-div::after{
    content: "";
    display: table;
    clear: both;
}
.inputfield{
    width: 80%;
    float: left;
    text-align: left;
}
.inputfield input,.password-field input{
    width: 100%;
    background: #ddd;
    padding: 0.5rem ;
    border:none;
    text-align: left;
}
.messagebox-icon{
    padding: 0.3rem;
    width: 20%;
    float: left;
}
.fa-envelope{
    color:#000;
}
.password-div{
    padding: 0 0.3rem;
    background-color: #ddd;
}
.reset{
    text-decoration: underline;
    font-size: 0.7rem;
    padding: 0.3rem 0;
}
.remember-me{
    width: 100%;
    padding: 0 0 2rem;
}
.text{
    width: 80%;
    float: left;
    font-size: 0.7rem;
}
.checkbox{
    float: right;
}
.login-button{
    width: 100%;
}
.login-button button{
    text-align: center;
    display: block;
    padding: 1rem 7rem;
    border-radius: 50px;
    margin: 0.5rem auto 1rem;
    background: #fff;
    color:#000;
    border:none;
}
hr{
    margin: 1rem 0;
}
.link-buttons button{
    background: transparent;
    color:#fff;
    border:1.5px solid #fff;
    width: 100%;
    border-radius: 50px;
    padding: 0.7rem 0.5rem;
    display: block;
    margin: 1rem auto;
    text-align: center;
}
.link-buttons i{
    padding: 0 1rem 0 0;
}
.no-account{
    padding:1rem 0;
    font-size: 0.7rem;
    text-align: center;
}
.no-account a{
    color:#fff;
}
.settings{
    font-weight: 300;
    text-align: center;
}